@charset "UTF-8";

/* Paleta de cores 
    Verde: #49A09D
    Lilás: #5F2C82  
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box          ;
}

html {
	background-color: #000000;
}

body {
	background-image: url(../img/bugatti-chiron-black-background-hypercars-5k-3840x2160-7133.jpg);
	background-size: cover;
	background-position: center bottom;
	height: 100vh;

}

header {
	background-color: rgb(0, 0, 0);
	position: sticky;
    top: 0;
	z-index: 1;
}

nav {
	display: flex;
	justify-content: space-evenly;
}

.navbar {
	display: none;
}

nav ul, img{
	display: flex;
	color: rgb(255, 255, 255);	
}

ul > img {
	
	height: 55px;
}
nav ul li {

	list-style-type: none;
	margin: auto 35px;
	font-weight: bold;
	font-size: 1.2em;
	opacity: 50%;
}

nav ul li:hover {
	opacity: 100%;
	transition: 0.5s;
}

li a  {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.titulo {
	padding-top: 16%;
	text-align: center;
	color: rgba(255, 255, 255, 0.753);
	text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.438);
	line-height: 55px;
}

h1 {
	font-size: 4em;
	color: rgba(255, 255, 255, 0.932);
}

h2 {
	font-size: 1.7em;
	
}

h5 {
	font-size: 1em;
	color: rgba(255, 255, 255, 0.39);
}

li a:hover {
	transition: 0.5s;
	text-shadow:
	0 0 7px #aaaaaa,
	0 0 10px #bdbdbd,
	0 0 21px #cccccc,
	0 0 42px rgb(221, 221, 221),
	0 0 82px #eeeeee,
	0 0 92px rgb(16, 17, 17),
	0 0 102px rgb(107, 107, 107),
	0 0 151px rgb(141, 141, 141);
}

nav>img {
	color: white;
	width: 75px;
	padding-bottom: 5px;
	padding-top: 5px;
}	

nav>img:hover {
	cursor: pointer;
}

section.banner2 {
	background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(3, 3, 3), rgb(0, 0, 0));
	color: white;
	height: 10px;
	
}

section.banner {
	background-image: linear-gradient(to left, black, rgb(5, 5, 5), black);
	color: white;
	height: 10px;
}


main {
    position: relative;
    height: 95vh;
    width: 100vw;
	color: white;
	background-color: black;
}   

section#login {
    position: absolute;
	width: 80vw;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
	border: 1px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: url(../img/bugatti-chiron-its-commanding-silhouette-emphasized-by-low-key-lighting-h7m9vycg.jpeg) no-repeat;
    background-size: cover;
	opacity: 20%;
	background-color: #000000;
    background-position: center;
    height: 200px;
}

section#login > div#formulario {
    display: block; 
    padding: 10px;
    margin-bottom: 10px;
	text-align: center;
}

div.campo > input {
    background-color: #222222;
	
    font-size: 1em;
    width: calc(100% - 50px);
    height: 100%;
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px;
    transform: translateY(-7px);
}

div.campo > i {
    color: white;
    width: 40px;
    padding: 5px;
    padding-left: 8px;
    font-size: 1.9em;
    border-radius: 10px;
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}


div.campo {
    background-color: #000000;
    margin: 5px;
    margin-left: 1px;
    border-radius: 10px;
    width: 100%;

}

div#submit > input {
    background-color: #000000;
    cursor: pointer;
    width: 100%;
    color: white;
    border: 1px solid white;
    height: 40px;
    border-radius: 10px;
    font-size: 1em;
}

div#submit > input:hover {
    background-color: #004BFA;
}

#ems {
    display: block;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao > i  {
    font-size: 0.8em;
}

a.botao:hover {
    background-color: #004BFA;
	color: white;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

p {
    font-size: 0.8em;
    padding-left: 5px;
}

label {
    display: none;
}

.container {
	max-width: 1050px;
	width: 90%;
	margin: auto;
  }
  
  .navbar {
	width: 100%;
	display: block;
	box-shadow: 0 1px 4px rgb(146 161 176 / 15%);	
  }
  
  .nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
  }
  
  .navbar .menu-items {
	display: flex;
  }
  
  .navbar .nav-container li {
	list-style: none;
  }
  
  .navbar .nav-container a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 500;
	font-size: 1.2rem;
	padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
	  font-weight: bolder;
  }
  
  .nav-container {
	display: block;
	position: relative;
	height: 60px;
  }
  
  .nav-container .checkbox {
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 20px;
	left: 20px;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 17px;
	left: 20px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #ffffff;
  }
  
  .nav-container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
	padding-top: 120px;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.808);
	width: 100%;
	transform: translate(-150%);
	display: flex;
	flex-direction: column;
	margin-left: -40px;
	padding-left: 50px;
	transition: transform 0.5s ease-in-out;
	text-align: center;
  }
  
  .navbar .menu-items li {
	margin-bottom: 1.2rem;
	font-size: 1.5rem;
	font-weight: 500;
  }
  
  .logo {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 1.2rem;
	color: #0e2431;
  }

  .logo img {
	height: 50px;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
	transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
	display: none;
  }
  
  .desktop {
	display: none;
  }

  footer {
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
	height: 50px;
	
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
	display: block;
	margin: auto;
}

footer a:hover {
    text-decoration: underline;
    color: rgba(216, 216, 216, 0.274);
}

@media screen and (max-width: 765px) {
	section#login {
		margin-top: 12%;
	}
}

